<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <style>
  </style>
  <body>
    <nav class="navbar">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-sm" type="submit"><i class="bi bi-search"></i></button>
          </form>
          <div class="logo">
            <i class="bi bi-cart3"></i>
            <i class="bi bi-chat-dots"></i>
          </div>
        </div>
    </nav>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h5>Pesan <span>Di Sini</span> Sekarang Juga</h5>
        </div>
    </nav>
    <div class="container-promo">
        <h3>Promo</h3>
    </div>
    <div class="container-produk">
        <h3>Produk</h3>
    </div>

    <!-- Buat tombol ke halaman home -->
    <div class="home">
      <a href="/product">CRUD</a>
    </div>
  </body>
</html>